body{
  background-color: rgb(70, 142, 236);
  font: normal 1rem Arial;
}

header{
  color: white;
  text-align: center;
}

section{
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  max-width: 500px;
  margin: auto;
  box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.363);
}

.title{
  font-size: 1.2rem;
}

#btn{
  padding: .5rem 0rem;
  border: 0px;
  border-radius: .2rem;
  font-weight: bold;
  color: white;
  background-color: rgb(18, 59, 114);
}

#painel{
  display: grid;
}

input{
  margin-bottom: 1rem;
}

footer{
  color: white;
  text-align: center;
  font-style: italic;
}